.details-btn {
  background-color: #5cb85c;
  border: 1px solid transparent;
  color: #fff;
  align-self: flex-end;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
}

.details-btn:hover {
  background-color: #309230;
}

.event-header {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
}

.category-table,
table {
  margin: 5px 40px;
}

td,
tr {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-cell {
  width: 120px;
}

.place {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 24px;
}
