body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.event-page {
  margin: 0 60px;
}

.event-header {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.event-header span {
  margin-bottom: 8px;
  color: #505050;
}

.event-header span small {
  color: #777;
}

small {
  font-size: 0.65rem;
}

.details-btn {
  background-color: #5cb85c;
  border: 1px solid transparent;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  height: 28px;
  align-self: center;
}

.details-btn:hover {
  background-color: #309230;
}

.event-header > small {
  align-self: flex-end;
  padding: 2px 10px;
}

.category-table,
table {
  margin: 5px 40px;
  border-collapse: collapse;
  white-space: nowrap;
}

th,
td,
tr {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  white-space: nowrap;
}

tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-header,
.name-cell {
  width: 140px;
  max-width: 140px;
}

.club-header,
.club-cell {
  width: 160px;
  min-width: 160px;
}

.place-header,
.place-cell {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 50px;
}

.place {
  width: 24px;
}

[class^="lap"] {
  width: 110px;
  min-width: 110px;
}

.laps-header,
.laps-cell {
  width: 40px;
  min-width: 40px;
}

.pull-right {
  display: flex;
  flex-direction: row-reverse;
}

.pull-right > span {
  margin: 8px 0;
}
